[core]
	excludesfile = ~/.dotfiles/.config/git/.gitignore
	autocrlf = false
	filemode = false
	attributesfile = ~/.dotfiles/.config/git/.gitattributes
	editor = vim
[alias]
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --full-history --sparse --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset)/%C(bold green)(%ai)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --full-history --sparse --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --full-history --sparse --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

    rg = !"git rg1"
    rg1 = !"git rg1-specific --all"
    rg2 = !"git rg2-specific --all"

    rg1-specific = reflog --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset)/%C(bold green)(%ai)%C(reset) %gD %gs %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    rg2-specific = reflog --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset)/%C(bold green)(%ai)%C(reset) %gD %C(dim white)- %an%C(reset)%C(auto)%d%C(reset) %n           %gs | %s'

    diffs = !"git diff --stat=9999"
    shows = !"git show --stat=9999"
[user]
	name = tiantc
	email = chen.tian@hcl.com
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[color]
	ui = true
# only cwp git doesn't need proxy.
[http "https://git.cwp.pnp-hcl.com"]
	proxy = ""
[http "git://git.cwp.pnp-hcl.com"]
	proxy = ""
[http "git@git.cwp.pnp-hcl.com"]
	proxy = ""
# rest of those git repo need proxy
[http]
proxy = "http://host.vm:1080"
# proxy = ""

