strict-ssl=false
# @myScope:registry = "https://artifactory.my-npm.com/artifactory/api/npm/npm-internal/"

prefix = ~/npm
# prefix=/home/tiantc/npm

# https_proxy=http://host.vm:1080
# proxy=http://host.vm:1080/
# https-proxy=http://host.vm:1080
