https_proxy=http://host.vm:1080

# @domino:registry = "https://artifactory.cwp.pnp-hcl.com/artifactory/api/npm/npm-internal/"

prefix = ~/npm

# https_proxy=http://host.vm:1080
# proxy=http://host.vm:1080/
# https-proxy=http://host.vm:1080
