strict-ssl=false
@atlas:registry=https://npm.atlashcl.com:443

prefix = ~/npm

# @domino:registry = "https://artifactory.cwp.pnp-hcl.com/artifactory/api/npm/npm-internal/"

# https_proxy=http://host.vm:1080
# proxy=http://host.vm:1080/
# https-proxy=http://host.vm:1080
